/*Universal Styles*/
 html {
   font-size: 14px;
 }

 body {
   font-family: "Open-Sans", sans-serif;
 }

h3 {
  font-size: 1.7rem;
  font-weight: 600;
  color: hsl(201.3, 62.3%, 52.2%);
}

h4 {
  font-size: 1.3;
  font-weight: 600;
}

/*Bootstrap Overrides*/

.btn-primary {
  background-color: hsl(201.3, 62.3%, 52.2%);
  border: none;
  max-width: 11.4rem;
  text-align: center;
}

.btn-primary:hover {
  background-color: hsl(201.3, 62.3%, 52.2%);
  border: none;
  box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.5);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: hsl(201, 62%, 52%);
}

a:link {
  color: hsl(0, 0%, 85%);
}
a:hover,
a:active {
  color: hsl(0, 0%, 100%);
}

/*Images*/

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: property time, property time;
  margin: auto;
  width: 100%;
}

.image-container img:hover {
  opacity: 1;
  transform: transformation(value);
}




/*Navbar*/

.navbar {
  background-color: hsl(0, 0%, 100%);
}

.logo {
  padding-right: 2rem;
}

.nav li {
  font-size: 1.1rem;
  font-weight: 600;
}

/*Jumbotron*/
.jumbotron {
  background-image: url(../images/jumbotron-bike.jpg);
  background-size: cover;
  height: 100%;
  color: hsl(0, 0%, 100%);
  text-align: center;
  /*Offset header*/
  margin-top: 3.5rem;
}
.jumbotron .container-fluid {
  max-width: 51.3rem;
  margin: 11.5rem auto 11.5rem auto;
}
.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
}
.jumbotron h1,
.jumbotron p {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*Featured Project*/

/*Align image with text*/
.featured-project-image {
  margin-top: 0.7rem;
}

/*Projects*/

.project {
  margin-bottom: 5.85rem;
}

/*Learn More*/

.learn-more {
  background-color: hsla(0, 0%, 95%, 1);
  padding-bottom: 5.2rem;
  padding-top: 5.2rem;
}

.learn-more .container {
  max-width: 42rem;
  text-align: center;
}


/*Media Queries*/

@media only screen and (max-width:768px) {
  .navbar-brand {
    display: none;
  }
  .jumbotron h1 {
    font-size: 5.7rem;
  }
  .project .image-container {
    max-height: 20rem;
  }
}
